## 1. Pandas Cheatsheet

### 1. Create Dataframes

In [ ]:
import pandas as pd

# 1. from dictionary
data = {
    'WidgetA': [10, 9, 7, 8], 
    'WidgetB': [11, 12, 30, 1]
}
total_widgets = pd.DataFrame(data)

# 2. from list of lists
data = [
    [10, 11],
    [9, 12],
    [7, 30],
    [8, 1]
]
total_widgets = pd.DataFrame(data, columns=['WidgetA', 'WidgetB'])

# 3. from list of dictionaries
data = [
    {'WidgetA': 10, 'WidgetB': 11},
    {'WidgetA': 9, 'WidgetB': 12},
    {'WidgetA': 7, 'WidgetB': 30},
    {'WidgetA': 8, 'WidgetB': 1}
]
total_widgets = pd.DataFrame(data)

# 4. from numpy array
import numpy as np
data = np.array([
    [10, 11],
    [9, 12],
    [7, 30],
    [8, 1]
])
total_widgets = pd.DataFrame(data, columns=['WidgetA', 'WidgetB'])

# 5. from csv file
total_widgets = pd.read_csv('total_widgets.csv')

# 6. from excel file
total_widgets = pd.read_excel('total_widgets.xlsx')

# 7. from sql query
import sqlite3
conn = sqlite3.connect('example.db')
total_widgets = pd.read_sql_query('SELECT * FROM total_widgets', conn)

# 8. from clipboard
total_widgets = pd.read_clipboard()

# 9. from json
import json
data = json.loads('{"WidgetA": [10, 9, 7, 8], "WidgetB": [11, 12, 30, 1]}') 
total_widgets = pd.DataFrame(data)

# 10. from html
url = 'https://www.example.com/total_widgets.html'
total_widgets = pd.read_html(url)[0]

### 2. Research Data

In [2]:
data = {
    'WidgetA': [10, 9, 7, 8], 
    'WidgetB': [11, 12, 30, 1]
}
total_widgets = pd.DataFrame(data)


# print first 5 rows
print(total_widgets.head())

# print last 5 rows
print(total_widgets.tail())

# print summary statistics
print(total_widgets.describe())

# print data types
print(total_widgets.dtypes)

# print number of rows and columns
print(total_widgets.shape)

# print column names
print(total_widgets.columns)

# print index
print(total_widgets.index)

# print values
print(total_widgets.values)

### 3. Describe the dataset

In [ ]:
# what columns are in the DataFrame
print(total_widgets.columns)

# what is the data type of the 'WidgetA' column
print(total_widgets['WidgetA'].dtype)

# what is the mean of the 'WidgetA' column
print(total_widgets['WidgetA'].mean())

# what is the median of the 'WidgetA' column
print(total_widgets['WidgetA'].median())

# what is the standard deviation of the 'WidgetA' column
print(total_widgets['WidgetA'].std())

# what is the sum of the 'WidgetA' column
print(total_widgets['WidgetA'].sum())

# what is the minimum value in the 'WidgetA' column
print(total_widgets['WidgetA'].min())

# what is the maximum value in the 'WidgetA' column
print(total_widgets['WidgetA'].max())

# what is the 25th percentile of the 'WidgetA' column
print(total_widgets['WidgetA'].quantile(0.25))

# what is the 75th percentile of the 'WidgetA' column
print(total_widgets['WidgetA'].quantile(0.75))

# what is the count of non-null values in the 'WidgetA' column
print(total_widgets['WidgetA'].count())

# what is the count of null values in the 'WidgetA' column
print(total_widgets['WidgetA'].isnull().sum())

# what is the count of non-null values in the dataframe
print(total_widgets.count())

# what is the count of null values in the dataframe
print(total_widgets.isnull().sum())

### 4. Value counts

In [ ]:
# what are the unuque values in the 'WidgetA' column
print(total_widgets['WidgetA'].unique())

# number of unique values in the 'WidgetA' column
print(total_widgets['WidgetA'].nunique())

# what are the unique values and their counts in the 'WidgetA' column
print(total_widgets['WidgetA'].value_counts())

### 5. Data Cleanse

In [ ]:
data = {
    'WidgetA': [10, 9, 12, 8], 
    'WidgetB': [11, 12, 30, 1]
}
total_widgets = pd.DataFrame(data)

# what is the count of null values in the dataframe
print(total_widgets.isnull().sum())

# fill null values with 0
total_widgets.fillna(0, inplace=True)

# drop rows with null values
total_widgets.dropna(inplace=True)

### 6. Correlation and Covariance

In [ ]:
data = {
    'WidgetA': [10, 9, 12, 8], 
    'WidgetB': [11, 12, 30, 1]
}
total_widgets = pd.DataFrame(data)

# what is the correlation between the 'WidgetA' and 'WidgetB' columns
print(total_widgets['WidgetA'].corr(total_widgets['WidgetB']))

# what is the covariance between the 'WidgetA' and 'WidgetB' columns
print(total_widgets['WidgetA'].cov(total_widgets['WidgetB']))

print(total_widgets.corr())

print(total_widgets.cov())

### 7. Generate Data

In [ ]:
# uniform random numbers
print(np.random.rand(100))

# normal random numbers
print(np.random.randn(100))

# random integers
print(np.random.randint(1, 10, 100))

# random choice
print(np.random.choice(['a', 'b', 'c'], 100))

# random permutation
print(np.random.permutation(['a', 'b', 'c']))

# set seed
np.random.seed(42)

# linspace 
print(np.linspace(0, 10, 100))

### 8. Query the dataframe

In [ ]:
# Use loc and iloc to access rows and columns
data = {
    'WidgetA': [10, 9, 12, 8], 
    'WidgetB': [11, 12, 30, 1]
}
total_widgets = pd.DataFrame(data)

# access the first row
print(total_widgets.iloc[0])

# access the first column
print(total_widgets.iloc[:, 0])

# access the first row and first column
print(total_widgets.iloc[0, 0])

# access the first row
print(total_widgets.loc[0])

print(total_widgets.iloc[-1]) # last row

# access the first column
print(total_widgets.loc[:, 'WidgetA'])

# access the first row and first column
print(total_widgets.loc[0, 'WidgetA'])

# access the 10th row
print(total_widgets.iloc[9])

# access the 2nd column
print(total_widgets.iloc[:, 1])

# access the 10th row and 2nd column
print(total_widgets.iloc[9, 1])

# access the column by name
print(total_widgets['WidgetA'])

# access the column by attribute
print(total_widgets.WidgetA)

# access the cell by querying a column
print(total_widgets[total_widgets['WidgetA'] == 10])

# access the cell by querying a column using the 'query' syntax
print(total_widgets.query('WidgetA == 10'))

# Use the `loc[]` method on the `data` DataFrame to retrieve the information about LeBron James' `Name` and `Team`. Assign the result to the `teamdata` variable.
teamdata = data.loc[data.Name == 'LeBron James', 'Name':'Team']

### 9. Add remove data

In [19]:
# add column
total_widgets['WidgetC'] = [1, 2, 3, 4]

# add row
total_widgets.loc[4] = [5, 6, 7]

# remove column
total_widgets.drop('WidgetC', axis=1, inplace=True)

# remove empty cells
total_widgets.dropna(inplace=True)

# remove row
total_widgets.drop(4, inplace=True)

# remove row by index
total_widgets.drop(total_widgets.index[0], inplace=True)

# remove row by condition
total_widgets = total_widgets[total_widgets['WidgetA'] != 10]

# remove row by query
total_widgets = total_widgets.query('WidgetA != 10')

   WidgetA  WidgetB
0       10       11
1        9       12
2       12       30
3        8        1